*{
    margin: 0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: "Helvetica Neue", sans-serif;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: space-between;
    background: gray;
    color:#DDD;

}
.container > section{
    width:50%;
    height:100%;
    

}
.profile-image{
    background: url(../assets/images/IMG_8247.JPG) no-repeat bottom center;
    background-size: 90% 100%;
    clip-path: ellipse(39% 50% at 48% 51%);
    /* clip-path: ellipse(30% 48% at 48% 51%); */

    
}
.name-2{
    color:peachpuff;
    display: inline-block;
    font-family: 'Tangerine', cursive;
    letter-spacing: 0.15rem;
    font-size:3.2rem;
    margin-top: 5rem;
    max-width: 270px;
    height:160px;
   font-weight: 300;
    
}
.big-letter{
    font-size: 60px;
    color:peachpuff;
    font-family: 'Tangerine', cursive;
    
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    max-width: 270px;
    height:160px;
    background: url() no-repeat right center;
}
.profession{
    max-width: 600px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;

}
li{
    list-style-type: none;

}

a{
    color:peachpuff;
    text-decoration: none;
    transition: all 1s linear;
}
a:hover{
    width: 25%;
    height:50%;
    margin:1rem;
    color:rgba(211, 185, 39, 0.986);
}

.links{
    margin-top: 45px;
}

.mail-links{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700px;
}

.social-links{
    margin-top: 15px;
}
.social-links span{
    display: inline-block;
    width:36px;
    height:24px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}
.youtube{
    background-image: url(images/github-svgrepo-com.svg);
}
hr{
    width: 50%;
}
.projects{
    font-size:1.05rem;
    padding-bottom: 2rem;
    margin-bottom:0;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}
